@import 'normalize.css';
@import '@h5web/app/styles.css';

#root {
  flex: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
}

input[type='file'] {
  margin: 2rem;
  font-family: sans-serif;
}
